$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2.5rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justfiy, $align, $derction) {
  display: flex;
  justify-content: $justfiy;
  align-items: $align;
  flex-direction: $derction;
}
@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";

@media screen and (max-width: 1238px) {
  html {
    font-size: 46%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}
@media screen and (max-width: 727px) {
  svg {
    height: 60%;
  }
  .main-head {
    width: 100%;
  }
  nav {
    .logo {
      @include flex(center, center, column);
      flex: 1 1 50rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
      @include flex(space-around, center, row);
    }
  }
  .intro-text {
    margin-top: 1rem;
    text-align: center;
  }
  .intro-img {
    text-align: center;
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
    }
  }
  .elena,
  .travelly {
    flex: 1 1 50rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  form {
    padding: 0rem;
    width: 95%;
  }
  footer {
    min-height: 10vh;
    h4 {
      padding-bottom: 4rem;
      padding-top: 2rem;
      text-align: center;
    }
    ul {
      padding-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 1024px) {
  nav {
    width: 99%;
  }
}
